﻿@model Solution.Domain.Entities.application

@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apply</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Confirm your informations !</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4>Test Name</h4>
    <div class="col-md-10">
        @Html.DropDownList("idFormation", (SelectList)ViewData["TestId"])
        @Html.ValidationMessageFor(model => model.idFormation)
    </div>

    <div class="form-group">
        <h4>Name</h4>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4>Last Name</h4>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <p>
            <input type="submit" value="Create" class="btn btn-lg btn-thm" />
            <button class="btn btn-lg btn-thm">@Html.ActionLink("Cancel", "Index")</button>
        </p>
    </div>
</div>
    <br />

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
