﻿@model Solution.Domain.Entities.application
@{
    ViewBag.Title = "Confirmer";
    Layout = "~/Areas/Administrateur/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Confirmer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <h4>Please do confirm the applicant status</h4>

        @Html.HiddenFor(model => model.AppId)

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplicationStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplicationStatus, "", new { @class = "text-danger" })
            </div>
        </div>







        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Confirm" class="btn btn-lg btn-thm" />

                </div>
                <div class="col-md-offset-2 col-md-6">
                    <button class="btn btn-lg btn-thm"> @Html.ActionLink("Cancel", "ShowApp")</button>
                </div>
            </div>
        </div>
    </div>

}
