﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste Des Evaluation</title>
</head>

<body>
    @*<a href="">add evaluation</a>
        <table class="table table-striped" cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Id </th>
                <th>Titre</th>
                <th>Description</th>

            </tr>
            @foreach (var p in ViewBag.result)
            {
                <tr>
                    <td>@p.id</td>
                    <td>@p.nom</td>
                    <td>@p.descreption</td>
                   <td> <a href="@Url.Action("Delete", "Formation", new { id = @p.id })" class="btn btn-tool" data-widget="remove" onclick="return confirm('Are you sure you want to delete this item?');">
                        <i class="fas fa-trash"></i>
                    </a>
                    </td>
                </tr>

            }*@


    </table>

    <div class="col-xl-9">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="mb30">Job List</h4>
            </div>


            <div class="col-lg-12">
                <div class="cnddte_fvrt_job candidate_job_reivew">
                    <div class="table-responsive job_review_table">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Formation Title</th>
                                    <th scope="col"></th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Date </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var p in ViewBag.result)
                                {
                                    <tr>
                                        <th scope="row">
                                            <img class="img-fluid" src="https://www.theatre-contemporain.net/images/upload/thumbs/L255-H255/thumb-Le-Vivier-FESTIVAL-ARTISTIQUE-POPULAIRE-SOCIAL-EDUCATIF-22a-5d370fe873477.jpg" alt="">
                                        </th>
                                        <td>
                                            <h4>@p.nom</h4>
                                           
                                            <ul>
                                                <li class="list-inline-item"><a href="#"><span class="flaticon-location-pin"></span></a></li>
                                                @*<li class="list-inline-item"><a href="#">@p.nom</a></li>*@
                                            </ul>
                                        </td>
                                        <td>@p.descreption</td>
                                        <td>@p.date</td>
                                        <td>
                                            <ul class="view_edit_delete_list">

                                                <button type="button" class="btn btn-lg btn-green">@Html.ActionLink("Apply", "Apply")</button>

                                            </ul>
                                        </td>
                                    </tr>
                                }
</table>
</body>
</html>
