﻿@model IEnumerable<Solution.Domain.Entities.application>

@{
    ViewBag.Title = "Showapp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowApplication</h2>
<div class="col-lg-12">
    <div class="cnddte_fvrt_job candidate_job_reivew">
        <div class="table-responsive job_review_table">
            <table class="table">

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">

                            </th>
                            <td align="left">
                                @Html.DisplayFor(modelItem => item.Nom)
                                @Html.DisplayFor(modelItem => item.Prenom)
                            </td>
                            <td>Applicator Status:  @Html.DisplayFor(modelItem => item.ApplicationStatus)</td>

                            @*<td>Nom du Formation: @Html.DisplayFor(modelItem => item.formation.nom)</td>*@

                            <td>
                                <ul class="view_edit_delete_list">
                                    <button type="button" class="btn btn-lg btn-success">
                                        @Html.ActionLink("Accept", " Confirmer", new { id=item.AppId })
                                    </button>

                                    <button type="button" class="btn btn-lg btn-danger">@Html.ActionLink("Reject", " Confirmer", new {id=item.AppId })</button>
                                    <button type="button" class="btn btn-lg btn-danger">
                                        @Html.ActionLink("X", "Supprimer", new { id=item.AppId })
                                    </button>



                                </ul>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>