﻿@model Solution.Domain.Entities.application
@{
    ViewBag.Title = "Supprimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer</h2>

<div class="row">
    <div class="col-xl-8">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            @*
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Prenom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OfferId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OfferId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CandId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CandId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ApplicationStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ApplicationStatus)
                    </dd>
                   </dl>
            *@
            @*  <dt>
                    @Html.DisplayNameFor(model => model.TestId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TestId)
                </dd>
            *@



            <br /><br />

            <div class="col-lg-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-lg btn-thm" />
                        <button class="btn btn-lg btn-thm">@Html.ActionLink("Cancel", "ShowApp")</button>
                    </div>
                }
            </div>



        </div>
    </div>
</div>