﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Administrateur/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Contact</h2>
<main>
<script>
        // two global variables
        var secondsRemaining;
        var intervalHandle;




        function tick() {
            // grab the h1
            var timeDisplay = document.getElementById("time");

            // turn seconds into mm:ss
            var min = Math.floor(secondsRemaining / 60);
            var sec = secondsRemaining - (min * 60);

            // add a leading zero (as a string value) if seconds less than 10
            if (sec < 10) {
                sec = "0" + sec;
            }
            // concatenate with colon
            var message = min + ":" + sec;
            // now change the display
            timeDisplay.innerHTML = message;

            // stop if down to zero
            if (secondsRemaining === 0) {
                alert("Your time is over!");
                $("#bout").click()

                clearInterval(intervalHandle);
                resetPage();
            }
            // subtract from seconds remaining
            secondsRemaining--;
        }

        function startCountdown() {
            // get contents of the "minutes" text box
            var minutes = 0.5;
            // check if not a number
            if (isNaN(minutes)) {
                alert("Please enter a number!");
                return;
            }
            // how many seconds?
            secondsRemaining = minutes * 60;
            // every second, call the "tick" function
            intervalHandle = setInterval(tick, 1000);
            // hide the form
        }

        // as soon as the page is loaded...
        $(document).ready(function () {
            // create input text box and give it an id of "minutes"
            var inputMinutes = document.createElement("input");
            inputMinutes.setAttribute("id", "minutes");
            inputMinutes.setAttribute("type", "text");
            // create a button
            var startButton = document.createElement("input");
            startButton.setAttribute("type", "button");
            startButton.setAttribute("value", "Start Countdown");
            startCountdown();

            // add to the DOM, to the div called "inputArea"
        });

</script>
</main>