﻿@model Solution.Domain.Entities.question
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<div class="col-xl-8">
    <h3>Are you sure you want to delete this?</h3>
    <div>

        <br /><br />

        <div class="col-lg-12">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-thm" />
                    <button class="btn btn-lg btn-thm"> @Html.ActionLink("Cancel", "ShowQuestions")</button>
                </div>
            }
        </div>



    </div>
</div>