﻿@model Solution.Domain.Entities.question
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Edit Question</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })







        @Html.HiddenFor(model => model.QstId)

        <div class="form-group">
            <h4>Question</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.qQst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.qQst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Response 1</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rep1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rep1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Response 2</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rep2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rep2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Response 3</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rep3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rep3, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Response 4</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rep4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rep4, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Correst Response</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepCorrect, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RepCorrect, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <p>
                <input type="submit" value="Save Changes" class="btn btn-thm" />
                <button class="btn btn-thm">@Html.ActionLink("Cancel", "ShowQuestions")</button>
            </p>
        </div>
    </div>

}


