﻿@model IEnumerable<Solution.Domain.Entities.question>
@{
    ViewBag.Title = "ShowQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<h2>Show Questions</h2>
<section>
    <br /><br />
          <p>

              <class="h3 mb-1 text-gray-800">
                  <button class="btn btn-light "> @Html.ActionLink("Create New", "Create")</button>
                  <button class="btn btn-light"> @Html.ActionLink("Go back", "../Test/ShowTests")</button>
          </p>
    <main>
        <div class="container-fluid mb-5">

            <!--Section: Basic examples-->


            <div class="row">

                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">

                            <table id="datatables" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.idFormation)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.qQst)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Rep1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Rep2)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Rep3)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Rep4)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RepCorrect)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.idFormation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.qQst)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rep1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rep2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rep3)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rep4)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RepCorrect)
                                            </td>

                                            <td>
                                                <button class="btn btn-light">@Html.ActionLink("Edit", "Edit", new { id = item.QstId })</button>

                                                <button class="btn btn-light">@Html.ActionLink("Delete", "Delete", new { id = item.QstId })</button>
                                            </td>
                                        </tr>

                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>

            </div>

</section>
<!--Section: Basic examples-->
                </div>
            </main>



